

<div class="status-item__title-wrapper">
   <div> <div class="status-item__title--{{statusColor}}">
        <i class="far status-item__icon  {{iconClass}} " ></i>
        {{status.statusKey | uppercase}} 
    </div>

</div>
    <!-- <p>({{status.distance}}</p> -->
    <div class="status-item__date }">
         <!-- Aug 10, 13:15  -->
            {{status.modifiedDate | date}}
    </div>
</div>
<div  *ngIf="status.description" class="status-item__description">
{{status.description}}
</div>
<!-- <div class=status-item__description></div> -->



