@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.nav-tabs.nav-tabs-container .nav-item {
    flex: 1;
    text-align: center;
}

.nav-tabs-container .nav-link {
    color: $body-color;
    font-weight: 500;
}

.nav-tabs-container .nav-link.active {
    border-color: transparent;
    border-bottom: 2px solid $primary;
    color: $primary;
}

:host{
    margin-top: 1rem;
}
