<br>
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-tabs-container">
    <li [ngbNavItem]="0">
        <a ngbNavLink>{{ 'tabs.overview' | translate }}</a>
        <ng-template ngbNavContent>
            <app-overview-tab [marker]="selectedMarker"></app-overview-tab>
        </ng-template>
    </li>
    <li [ngbNavItem]="1">
        <a ngbNavLink>{{ 'tabs.changeHistory' | translate }}</a>
        <ng-template ngbNavContent>
            <div style="height: 5rem;display: flex;align-items: center;justify-content: center">Placeholder Tab Content</div>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="nav"></div>
<app-footer></app-footer>
