<div class="footer__title">{{ 'footer.title' | translate }}
</div>
<div class="footer__contact--first"> 
    <div class="footer__contact-title" >{{ 'footer.securityService' | translate }}</div>
    <div class="footer__contact-number"><a href="tel:+0 800 501 482" > 0 800 501 482</a></div>
</div>
<div class="footer__contact"> 
    <div class="footer__contact-title" >{{ 'footer.borderService' | translate }} </div>
    <div class="footer__contact-number"> <a href="tel:+0 800 501 482" >+38 (044) 527-63-63</a></div>
</div>

